<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="myProfile" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="frame">
    <ion-avatar id="logo">
      <ion-img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/18d8f261-3fa3-4291-869a-4a39830ffab3_gobiz-dashboard-image_1786940842642.jpg"></ion-img>
    </ion-avatar>
  </div>

  <ion-card class="informasi">
    <ion-card-content class="isiInformasi">
      Nama Toko: {{ profile.namaToko }} <br>
      Alamat: {{ profile.alamat }} <br>
      No Telepon: {{ profile.noTelepon }} <br>
      Jam Operasional: {{ profile.jamOperasional }} <br>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center ion-margin-top">
    <ion-button class="edit" [routerLink]="['/edit-profile', profile.id]" color="primary">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      Edit Profile
    </ion-button>
  </div>
</ion-content>
