.kontainer {
  max-width: 480px;
  margin: 0 auto;
  color: #000;
}

ion-card-content {
  text-align: center;
}

.logo-about {
  font-size: 80px;
}

h1 {
  text-align: center;
  color: #000;
}

h3 {
  text-align: center;
  color: #000;
}

#cardAbout {
  text-align: left;
}

#dataAbout {
  text-align: center;
  color: #000;
}
ion-toolbar {
    --background: #ebcd08;
}