<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Produk</ion-title>

    <!-- Tombol Tambah Produk -->
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" routerLink="/tambah-produk">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produk</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Daftar Produk -->
  <ion-list lines="full">
    <ion-item *ngFor="let item of daftarProduk">

      <ion-label [routerLink]="['/detail-produk', item.id]" button>
        <h2><b>{{ item.nama }}</b></h2>
        <p>
          Harga: Rp {{ item.hargaJual | number }} | Stok: {{ item.stok }} |
          <b>Terjual: {{ item.terjual || 0 }}</b>
        </p>
      </ion-label>

      <!-- Tombol Edit Produk -->
      <ion-button slot="end" fill="solid" color="warning" [routerLink]="['/edit-produk', item.id]">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!--Tombol Keranjang-->
  <ion-button routerLink="/keranjang">
    <ion-icon name="cart-outline" slot="icon-only"></ion-icon>
    Keranjang
  </ion-button>
</ion-content>