<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Produk</ion-title>
    
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" (click)="openModalTambah()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produk</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    
    <ion-item *ngFor="let item of daftarProduk">
      
      <ion-label [routerLink]="['/detail-produk', item.id]" button>
        <h2><b>{{ item.nama }}</b></h2>
        <p>Harga: Rp {{ item.hargaJual | number }} | Stok: {{ item.stok }}</p>
      </ion-label>

     
      <ion-button slot="end" fill="solid" color="warning" (click)="openModalEdit(item)">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ judulModal }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Batal</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        
       
        <ion-text color="danger" *ngIf="errorMessage !== ''">
          <p><b>Error:</b> {{ errorMessage }}</p>
        </ion-text>

        
        <ion-item>
          <ion-label position="floating">Nama Produk *</ion-label>
          <ion-input [(ngModel)]="produkInput.nama" type="text"></ion-input>
        </ion-item>

        
        <ion-item>
          <ion-label position="floating">Harga Beli (Rp) *</ion-label>
          <ion-input [(ngModel)]="produkInput.hargaBeli" type="number"></ion-input>
        </ion-item>

       
        <ion-item>
          <ion-label position="floating">Harga Jual (Rp) *</ion-label>
          <ion-input [(ngModel)]="produkInput.hargaJual" type="number"></ion-input>
        </ion-item>

       
        <ion-item>
          <ion-label position="floating">Stok *</ion-label>
          <ion-input [(ngModel)]="produkInput.stok" type="number"></ion-input>
        </ion-item>

        
        <ion-item>
          <ion-label position="floating">URL Gambar (Opsional)</ion-label>
          <ion-input [(ngModel)]="produkInput.gambar" type="text"></ion-input>
        </ion-item>

        
        <ion-item>
          <ion-label position="floating">Kategori (Opsional)</ion-label>
          <ion-input [(ngModel)]="produkInput.kategori" type="text"></ion-input>
        </ion-item>

        
        <ion-item>
          <ion-label position="floating">Deskripsi (Opsional)</ion-label>
          <ion-textarea [(ngModel)]="produkInput.deskripsi"></ion-textarea>
        </ion-item>

        <ion-button expand="block" (click)="simpanProduk()" class="ion-margin-top">
          Simpan Produk
        </ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>