<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pengaturan Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Elemen yang di-animasikan dengan id="myLogout" -->
  <div id="myLogout" class="center-container">
    <h2 class="ion-margin-top"><b>Logout dari Aplikasi</b></h2> 
    <p color="medium">Keluar dari akun kasir saat ini?</p>

    <!-- Tombol Logout yang mengarahkan kembali ke Halaman Login -->
    <ion-button (click)="prosesLogout()" color="danger" size="large" class="ion-margin-top">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Logout
    </ion-button>
  </div>
</ion-content>
