ion-content { 
    --background: #ffffff; 
}

.center-container { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    text-align: center; 
}
ion-toolbar {
    --background: #ebcd08;
}