<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="myHome" [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Ringkasan Hari Ini</h2>
  <ion-button expand="block" (click)="loadDataDashboard()">Perbarui Data</ion-button>

  
  <ion-card color="success">
    <ion-card-header>
      <ion-card-subtitle>Total Penjualan Hari Ini</ion-card-subtitle>
      <ion-card-title>Rp {{ totalTransaksiHariIni | number }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>Jumlah Jenis Produk</ion-card-subtitle>
      <ion-card-title>{{ jumlahProduk }} Produk</ion-card-title>
    </ion-card-header>
  </ion-card>

  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-subtitle>Produk Terlaris</ion-card-subtitle>
      <ion-card-title>{{ produkTerlaris }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>